@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: #c1d8e0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0; 
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.display-input{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display-input input{
    flex: 1;
    text-align: right;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    background-color: #b29700 ;
}
form input.operators{
    background-color: #b29700 ;
}

@media(min-width : 333px) and (max-width : 372px){
    .calculator form input{
        height: 50px;
        width: 50px;
    }
    form .display-input input{
        font-size: 35px;
    }
    form input.equal{
        width: 124px;
    }
}

@media(min-width:320px) and (max-width : 332px){
    .calculator form input{
        height: 50px;
        width: 49px;
    }
    form .display-input input{
        font-size: 35px;
    }
    form input.equal{
        width: 120px;
    }
}